header {
    margin: 2%;
    padding: 0.5%;
    background-image: url(https://www.cartedelareunion.fr/wp-content/uploads/2017/08/Ile-de-La-Reunion-vue-aerienne-cartedelareunion.fr-%C2%A9-Serge-Gelabert.jpg);
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        border-color: rgba(243, 242, 242, 0.568);
        border-style: solid;
        max-width: 80%;
    }
    h1 {
        color: rgb(249, 252, 252);
        font-family: helvetica;
    }
}

main {
    padding-left: 5%;
    padding-right: 5%;
    h3 {
        color: blue
    }
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    p,
    ul {
        max-width: 25%;
        padding: 2%;
    }
}

body {
    background-color: rgb(205, 247, 226);
    p {
        color: rgb(8, 70, 129);
    }
    .container {
        background-color: rgb(8, 70, 129);
        display: flex;
        flex-direction: row;
        justify-content: center;
        .colonne {
            display: flex;
            flex-direction: column;
            figure {
                padding: 2%;
                background-color: rgba(252, 253, 252, 0.281);
                text-align: center;
                min-width: 400px;
                img {
                    border-color: rgba(255, 255, 255, 0.541);
                    border-style: solid;
                }
            }
        }
    }
}